@font-face {
    font-family: "Fira Sans";
    src: url(/FiraSans-Regular.woff);
}

body {
    background-color: #eceff1;
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.page-root {
    padding-top: 60px;
}

.site-width{
    margin-right: auto;
    margin-left: auto;
    padding-right: 3%;
    padding-left: 3%;

    max-width: 1000px;
}
